{% load suit_tags %}

<fieldset class="module aligned{{ fieldset.name|yesno:' with-legend, first' }} {{ fieldset.classes }}">
    {% if fieldset.name %}
        <h2 class="legend">{{ fieldset.name }}
            {% if fieldset.description %}
                <span class="description">{{ fieldset.description|safe }}</span>
            {% endif %}
        </h2>{% endif %}
  {% for line in fieldset %}
    {% with singlefield=line.fields|length_is:'1' %}
      <div class="control-group form-row{% if line.errors %} {{ singlefield|yesno:'error,first-error' }} errors{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %} {{ field.field.field.widget.attrs.rowclass }}{% endfor %}{{ singlefield|yesno:',multi-field-row' }}">
        {% for field in line %}
          {% spaceless %}

        {# write special control tags only for first multi field #}
        {% if forloop.first %}
            <div {% if field.field.name == 'group_id' %} style='display:none;' {% endif%}{% if not singlefield %}
                class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}"{% endif %}>

            <div class="control-label">
                {{ field.label_tag }}
            </div>
            <div class="controls">
            {# if multi-fields and first field #}
            {% if not singlefield %}
              <div class="multi-field-box">
            {% endif %}
        {% else %}
          {# If multi-fields and not first wrap also label #}
          {% if not singlefield and not forloop.first %}
            <div class="multi-field-box{{ field.errors|yesno:' error,' }}">
          {% endif %}
            {{ field.label_tag }}
        {% endif %}

        {% if not field.is_readonly and field.errors %}<div class="inline error errors">{% endif %}

        {# If multi-fields and wrap controls too #}
         {% if not singlefield %}
            <div class="multi-field-controls">
          {% endif %}

        {% if field.is_readonly %}
            <span class="readonly">{{ field|field_contents_foreign_linked }}</span>
        {% else %}
            {{ field.field }}
        {% endif %}

        {% if field.field.name == 'ldap_user_name' %}
        &nbsp;&nbsp;&nbsp;
        <button type="button" id="check_ldap_user" class="btn btn-high btn-info">Check</button>
        <p id="ldap_user_name_message"></p>
        <script type="text/javascript">
          $(function(){
          $("#id_group_id").attr('name', 'id_group_id');
          $("#check_ldap_user").click(function(){
           $.ajax({
               type: "POST",
               url: "{% url 'check_ldap' %}",
               data: {'ldap_user_name': $('#id_ldap_user_name').attr('value'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
               var $p = $("#id_ldap_user_name");
               if ( response.exists ) {
                 $("#ldap_user_name_message").text("El usuario actualmente existe en ldap");
                 $p.show(4000, function() {
                 $p.css("background-color","#F78181");
                 });
               } else {
               //$p.show(4000, function() {
                 $("#ldap_user_name_message").text("El usuario no existe en ldap");
                 $p.css("background-color","#BEF781")
                 //});
               }


                },
                error: function(rs, e) {
                       alert("La validación del usuario ldap no puedo realizarse.");
                }
          }); 
          });
                    });
        </script>
        {% if not field.field.value %}<p >Nombre sugerido: <strong>{{ suggested_ldap_name }}</strong> </p>{% endif %}

        {% endif %}


        
        {# For single field errors#}
        {% if singlefield and line.errors %}
            <span class="help-inline">{{ line.errors }}</span>
        {% endif %}

        {# For multi field errors #}
        {% if field.errors and not singlefield and not field.is_readonly %}
          <span class="help-block">{{ field.errors|striptags }}</span>
        {% endif %}

        {% if field.field.help_text %}
          <span class="{% if line.errors or field.errors or not singlefield %}help-block{% else %}help-inline{% endif %}">{{ field.field.help_text|safe }}</span>
        {% endif %}

        {% if not field.is_readonly and field.errors %}</div>{% endif %}

        {% if not singlefield %}
         </div> {# close multi-controls #}
         </div> {# close multi-field-box #}
        {% endif %}

        {% if forloop.last %}
            </div>
            </div>
        {% endif %}

       
        {% endspaceless %}

        {% if field.field.name == 'ldap_user_name' %}
        <div class="control-label">
          <label for="id_office">Grupo:</label>
        </div>
        <div class="controls">
          <div class="related-widget-wrapper">
            <select id="group_id" name="group_id">
              {% for group in groups %}
              <option value="{{ group.gidNumber }}" >{{ group.cn }}</option>
              {% endfor%}
            </select>
          </div>
        </div>
        {% endif %}
        
        {% endfor %}

      </div>
    {% endwith %}

    {% endfor %}

</fieldset>
{# For closing line #}
{% if 'plugin-holder' in fieldset.classes %}
  <hr class="plugin-holder-separator">
{% endif %}
