{% extends "base.html" %}

{% block content %}

{% include '_errors_form.html' %}

<div class="bs-docs-section">

  <br>

  <div class="row">
    <div class="col-lg-12">
      <div class="well bs-component">
        <form class="form-horizontal" action="{% url 'create' %}" method="post">
          {% csrf_token %}
          <fieldset>
            <legend>Solicitud de habilitación de cuenta</legend>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Nombres</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="name"
                       value="{{ form.name.value }}"/>
              </div>
              <label class="col-sm-2 control-label" for="textinput">Apellidos</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="surname"
                       value="{{ form.surname.value }}"/>
              </div>
            </div>

            <div class="form-group">
              <label for="select" class="col-sm-2 control-label">Tipo Documento</label>
              <div class="col-sm-4">
                <select class="form-control" name="document_type" id="select">
                  <option value="1">DNI</option>
                  <option value="2">LC</option>
                  <option value="3">LE</option>
                  <option value="4">CI</option>
                  <option value="5">Pasaporte</option>
                </select>
              </div>
              <label class="col-sm-2 control-label" for="textinput">Número</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="document_number"
                       value="{{ form.document_number.value }}"/>
              </div>
            </div>
           
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Teléfono laboral</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="work_phone"
                       value="{{ form.work_phone.value }}"/>
              </div>
              <label class="col-sm-2 control-label" for="textinput">Particular</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="home_phone"
                       value="{{ form.home_phone.value }}"/>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail" class="col-sm-2 control-label">Domicilio</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="address"
                       value="{{ form.address.value }}">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Cargo</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="position"
                       value="{{ form.position.value }}">
              </div>
            </div>

            <div class="form-group">
              <label for="select" class="col-sm-2 control-label">Secretaría o Dirección</label>
              <div class="col-sm-10">
                <select class="form-control" id="office_id" name="office">
                  {% for office in offices %}
                    <option value="{{office.id}}"
                    {% if office.id == form.office.value %}selected="selected"{% endif %}>
                    {{office.name}}
                    </option>
                  {% endfor %}
                  <option value=''>Especificar otra ..</option>
                </select>
              </div>
            </div>

            <div class="form-group" id="new_office_block">
              <label class="col-sm-2 control-label" for="textinput"></label>
              <div class="col-sm-4"></div>
              <label class="col-sm-2 control-label" for="textinput">Secretaría:</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="other_office"
                       value="{{ form.other_office.value }}"/>
              </div>
            </div>

            <br>
              
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancelar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">Enviar solicitud</button>
              </div>
            </div>
              
            </fieldset>
          </form>

      </div>
    </div>

  </div>
</div>


{% endblock %}
