{% extends "base.html" %}

{% block content %}
{% load i18n %}

<div class="bs-docs-section">

  <br>

  <div class="row">
    <div class="col-lg-12">
      <div class="well bs-component">
        <form class="form-horizontal" action="{% url 'create' %}" method="post">
          {% csrf_token %}
          <fieldset>
            <legend>{{ _("enabling_account") }}</legend>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">{{ _("name") }} *</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="name"
                       value="{{ form.name.value }}"/>
              </div>
              <label class="col-sm-2 control-label" for="textinput">{{ _("surname") }} *</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="surname"
                       value="{{ form.surname.value }}"/>
              </div>
            </div>

            <div class="form-group">
              <label for="select" class="col-sm-2 control-label">{{ _("doc_type") }} *</label>
              <div class="col-sm-4">
                <select class="form-control" id="document_type_id" name="document_type">
                  {% for doc in document_types %}
                  <option value="{{doc.id}}"
                          {% if doc.id == form.document_type.value|add:0 %}selected="selected"{% endif %}>
                    {{doc.name}}
                  </option>
                  {% endfor %}
                </select>
              </div>

              <label class="col-sm-2 control-label" for="textinput">{{ _("doc_number") }} *</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="document_number"
                       value="{{ form.document_number.value }}"/>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">{{ _("ldap_user_password") }} *</label>
              <div class="col-sm-4">
                <input class="form-control" type="password" name="ldap_user_password" value=""/>
              </div><span class="help-block">{{ _("ldap_user_password_note") }} </span>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">{{ _("ldap_user_password_confirm") }} *</label>
              <div class="col-sm-4">
                <input class="form-control" type="password" name="ldap_user_password_confirm" value=""/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">{{ _("Alternative_email") }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="alternative_email" value=""/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">{{ _("work_phone") }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="work_phone"
                       value="{{ form.work_phone.value }}"/>
                <p class="help-block">{{ _('Examples') }} <strong>4571110 int 23</strong>,
                  {{ _('or_alone') }}: <strong>int 23</strong></p>
              </div>
              <label class="col-sm-2 control-label" for="textinput">{{ _("short_home_phone") }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="home_phone"
                       value="{{ form.home_phone.value }}"/>
              </div>
            </div>
            
            <div class="form-group">
              <label for="inputEmail" class="col-sm-2 control-label">{{ _("address") }}</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="address"
                       value="{{ form.address.value }}">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">{{ _("position") }}</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="position"
                       value="{{ form.position.value }}">
              </div>
            </div>

            <div class="form-group">
              <label for="select" class="col-sm-2 control-label">{{ _("office") }} *</label>
              <div class="col-sm-10">
                <select class="form-control" id="office_id" name="office">
                  <option value="0">{{ _("select_one") }}</option>
                  {% for office in offices %}
                  <option value="{{office.id}}"
                          {% if office.id == form.office.value|add:0 %}selected="selected"{% endif %}>
                    {{office.name}}
                  </option>
                  {% endfor %}
                  <option value=''>{{ _('specify_other') }}</option>
                </select>
              </div>
            </div>

            <div class="form-group" id="new_office_block">
              <label class="col-sm-2 control-label" for="textinput">{{ _("other_office") }}:</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="other_office"
                       value="{{ form.other_office.value }}"/>
              </div>
            </div>
            
            <br>
            <div class="form-group pull-right">
              <div class="col-xs-12">
                <button type="reset" class="btn btn-default">{{ _('cancel') }}</button>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <button type="submit" class="btn btn-primary">{{ _('send_request') }}</button>
              </div>
            </div>
            
          </fieldset>
        </form>

      </div>
    </div>

  </div>
</div>


{% endblock %}
