{% extends "base.html" %}

{% block content %}

{% include '_errors_form.html' %}

<div class="bs-docs-section">
  <br \><br \><br \>
    
    <div class="row">
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Envío de solicitud</h3>
            </div>
            <div class="panel-body">
              Estimado/a <strong>{{ form.name }}, {{ form.surname }}</strong> <br>
              La solicitud se a realizado con éxito. Para completar el trámite te pedimos que te acerques a nuestra oficina con el siguiente <a href="{% url 'print_request' form.id %}" TARGET="_blank">formulario</a> impreso y la firma del responsable de tu área.<br>
              Dirección de Informatización y Planificación Tecnológica
            </div>
            <div class="panel-body">
              <a href="{% url 'new' %}" class="alert-link">
              Realizar una nueva solicitud</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="{% url 'print_request' form.id %}" TARGET="_blank" class="alert-link" >Imprimir Solicitud</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


{% endblock %}
