{% extends "base.html" %}

{% block content %}

{% include '_errors_form.html' %}

<div class="bs-docs-section">
  <br \><br \><br \>
    
    <div class="row">
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Envío de solicitud</h3>
            </div>
            <div class="panel-body">
              Estimado/a <strong>{{ form.name }}, {{ form.surname }}</strong> <br>
              La solicitud no pudo completarse. Para poder realizar el trámite te pedimos que te acerques a nuestra oficina o intentes realizar la solicitud nuevamente más tarde.<br>
              
            </div>
            <div class="panel-body">
              <a href="{% url 'new' %}" class="alert-link">
              Realizar una nueva solicitud</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


{% endblock %}
